@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

td, a, p, span {
  word-wrap: normal;
  word-break: normal;
  hyphens: none;
  font-family: 'San Francisco', Segoe, Roboto, Arial, Helvetica, sans-serif !important;
}

.bullet {
  line-height: 21px !important;
}

.btnBack:hover {
  background-color: #fcc521;
}

.btn:hover {
  background-color: #E4EBF3;
}

@media only screen and (min-width: 600px) {
  .tableItem {
    display: inline-block !important;
    width: 50% !important;
    vertical-align: top !important;
    box-sizing: border-box !important;
    padding-right: 22px !important;
  }
  
  .tableNoBackItem {
    display: inline-block !important;
    width: 50% !important;
    vertical-align: top !important;
    box-sizing: border-box !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

@media only screen and (max-width: 375px) {
  .btn, .btnBack {
    max-width: 100% !important;
  }
}

@media (prefers-color-scheme: dark) {
  .bodyTable {
    background-color: #404041 !important;
  }
  
  .contentTable {
    background-color: #333333 !important;
  }
  
  .textColor1 {
    color: #ffffff !important;
  }
  
  .textColor2 {
    color: #adadad !important;
  }
  
  .textColor3 {
    color: #8d8d8e !important;
  }
  
  .link {
    color: #336fee !important;
  }
  
  .line {
    background-color: #6D6F71 !important;
  }
  
  .accentBlock {
    background-color: #3c4149 !important;
  }
  
  .alarmBlock {
    background-color: #48453e !important;
  }
  
  .accentBorder {
    background-color: #6d6f71 !important;
  }
  
  .promoAccentBlock {
    background-color: #404041 !important;
  }
  
  .blockBack {
    background-color: #404041 !important;
  }
  
  .statDown {
    color: #f54444 !important;
  }
  
  .statUp {
    color: #00b92d !important;
  }
  
  .btn {
    color: #428bf9 !important;
    background-color: #3c4149 !important;
  }
  
  .btnBack {
    background-color: #ffdd2d !important;
    color: #333333 !important;
  }
}

[data-ogsc] .bodyTable {
  background-color: #404041 !important;
}

[data-ogsc] .contentTable {
  background-color: #333333 !important;
}

[data-ogsc] .textColor1 {
  color: #ffffff !important;
}

[data-ogsc] .textColor2 {
  color: #adadad !important;
}

[data-ogsc] .textColor3 {
  color: #8d8d8e !important;
}

[data-ogsc] .link {
  color: #336fee !important;
}

[data-ogsc] .line {
  background-color: #6D6F71 !important;
}

[data-ogsc] .accentBlock {
  background-color: #3c4149 !important;
}

[data-ogsc] .alarmBlock {
  background-color: #48453e !important;
}

[data-ogsc] .accentBorder {
  background-color: #6d6f71 !important;
}

[data-ogsc] .promoAccentBlock {
  background-color: #404041 !important;
}

[data-ogsc] .blockBack {
  background-color: #404041 !important;
}

[data-ogsc] .statDown {
  color: #f54444 !important;
}

[data-ogsc] .statUp {
  color: #00b92d !important;
}

[data-ogsc] .btn {
  color: #428bf9 !important;
  background-color: #3c4149 !important;
}

[data-ogsc] .btnBack {
  background-color: #ffdd2d !important;
  color: #333333 !important;
}
